body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    background: #e3f2fd;
}

header {
    background: #1e88e5;
    padding: 25px;
    text-align: center;
    color: white;
}

header h1 {
    margin: 0;
    font-size: 30px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 280px;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
    transition: 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 70px;
    margin-bottom: 10px;
}

.card h2 {
    color: #1e88e5;
    margin-bottom: 10px;
}

.card p {
    color: #444;
    margin-bottom: 20px;
}

.card a {
    display: inline-block;
    padding: 10px 20px;
    background: #1e88e5;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.card a:hover {
    background: #0d47a1;
}

footer {
    background: #1e88e5;
    color: white;
    text-align: center;
    padding: 15px;
    position: relative;
    margin-top: 60px;
}
