<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Farmácia Popular</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>

<header>
    <h1>Farmácia Popular</h1>
</header>

<section class="main">
    <div class="card">
        <h2>Bem-vindo!</h2>
        <p>Gerencie produtos, usuários e vendas com rapidez e segurança.</p>

        <a href="/login" class="btn">Entrar no Sistema</a>
    </div>
</section>

<footer>
    <p>© TODOS OS DIREITOS RESERVADOS 2025 </p>
</footer>

</body>
</html>
